@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Fira Sans", serif; */
body{
    background-color: rgba(0, 0, 0, 0.03);
}
/* Shared styles */
.green-bg{
    background-color: #C6E4D6;
}

.section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}
.btn-primary{
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Fira Sans", serif;
    padding: 15px 30px;
    border: none;
}
.btn-primary:hover{
    background-color: white;
    color: #006A50;
    border: #006A50 1px solid;
}
.btn-secondary{
    width: 116px;
    height: 52px;
    border-radius: 8px;
    color: #006A50;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    background-color: white;
    font-size: 17px;
    padding: 15px 30px;
    border: #006A50 1px solid;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
    font-family: "Fira Sans", serif;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
}

nav ul li{
    list-style: none;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    align-items: center;
    padding: 60px;
    border-radius: 24px;
    font-family: "Fira Sans", serif;
}

.banner-content{
    width: 50%;
}

.banner-small{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 0.5;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
}

/* Pillars Styles */
.pillars{
    margin: 0px 160px;
    font-family: "Fira Sans", serif;
    margin-bottom: 80px;
}
.pillars-content{
    display: flex;
    gap: 24px;
}

.pillar-content{
    background-color: white;
    padding: 24px;
    max-height: fit-content;
    border-radius: 16px;
}

.pillar-title{
    font-size: 20px;
    font-weight: bold;
}

.pillar-description{
    font-size: 16px;
    opacity: 0.7;
}

/* Vision Styles */
.vision-section{
    margin: 0px 160px;
    font-family: "Fira Sans", serif;
    margin-bottom: 80px;
}

.vision-head-description{
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 32px;
    font-size: 16px;
}
.visions{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.vision-content{
    padding: 24px;
    border-radius: 16px;
}

.vision-title{
    font-size: 20px;
    font-weight: bold;
}

.vision-description{
    font-size: 16px;
    opacity: 0.7;
}

.vision-btn{
    margin-top: 24px;
    padding: 11px 24px;
    border-radius: 8px;
    color: white;
    border: none;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 16px;
}

.orange-bg{
    background-color: #F7EBCF;
}

.blue-bg{
    background-color: rgba(84, 144, 245, 0.3);
}

.green-btn{
    background-color: #09A15C;
}
.green-btn:hover{
    background-color: white;
    color: #09A15C;
    border: #09A15C 1px solid;
}

.orange-btn{
    background-color: #FFC239;
}

.orange-btn:hover{
    background-color: white;
    color: #FFC239;
    border: #FFC239 1px solid;
}

.blue-btn{
    background-color: #5490F5;
}

.blue-btn:hover{
    background-color: white;
    color: #5490F5;
    border: #5490F5 1px solid;
}

/* Recent News Styles */

.recent-news{
    margin: 0px 160px;
    font-family: "Fira Sans", serif;
    margin-bottom: 80px;
}

.recent-head-description{
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 32px;
    font-size: 16px;
}

.recent-card{
    display: flex;
    gap: 24px;
    padding: 48px;
    background-color: white;
    border-radius: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.recent-card-img{
    border-radius: 24px;
}

.recent-card-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.recent-card-description{
    font-size: 16px;
    opacity: 0.7;
}

.recent-card-date-time{
    font-size: 16px;
    opacity: 0.7;
}

/* Donate Styles */
.donate-section{
    margin: 0px 160px;
    font-family: "Fira Sans", serif;
    margin-bottom: 80px;
    text-align: center;
    padding: 0px 105px;
}
.donate-description{
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 32px;
    font-size: 16px;
}

.donate-cards{
    display: flex;
    height: 128px;
    gap: 24px;
    margin-bottom: 32px;
    justify-content: space-between;
}

.donate-card{
    background-color: white;
    border-radius: 16px;
    width: 25%;
    border: rgba(14, 14, 14, 0.15) 1px solid;
}
.donate-card-title{
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
}
#donate-input{
    width: 90%;
    margin-bottom: 32px;
    padding: 20px 40px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: "Fira Sans", serif;
}

.card-selected, .donate-card:hover{
    background-color: #C6E4D6;
}

/* Newsletter styles */
.newsletter-section{
    margin: 0px 160px;
    font-family: "Fira Sans", serif;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 265px;
    border-radius: 24px;
}
.newsletter-content{
    width: 750px;
}
.newsletter-description{
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 32px;
    font-size: 16px;
}

.email-input::placeholder{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    font-family: "Fira Sans", serif;
}
.email-content{
    display: flex;
    gap: 0px;
    justify-content: center;
    margin-bottom: 32px;
    width: 100%;
}
.email-input{
    padding: 18px 40px;
    border: none;
    width: 65%;
    border-radius: 8px 0px 0px 8px;
}

.btn-radius{
    border-radius: 0px 8px 8px 0px;
}

/* Footer Styles */
footer{
    background-color: white;
    font-family: "Fira Sans", serif;
    padding: 40px 160px;
    text-align: center;
}

.footer-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}
hr{
    margin-bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.icons{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 50px;
}

/* Quotation Styles */
.quotation-section{
    margin: 0px 160px;
    font-family: "Fira Sans", serif;
    margin-bottom: 80px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 12px 24px;
}

.quote-content{
    background-image: url('../images/quote-bg.png');
    background-position: top-left;
    background-repeat: no-repeat;
}
.quote{
    font-size: 16px;
    padding: 25px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.7);
}

.quote-person{
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0px;
}
.quote-person-description{
    padding: 0px;
    margin-bottom: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}